/* Portfolio  */

.portfolio{
    padding: 1.5rem;
}

.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding-left: 1.5rem;
    /* margin: 1.5rem; */
}


.portfolio__img{
    width: 256px;
    border-radius: 0.5rem;
    justify-self: center !important;
}


.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.portfolio__description{
    margin-bottom: 0.75rem;
}

.portfolio__button:hover .button__icon{
    transform: scale(112%);
}

.swiper-container{
    position: relative;
}

.swiper {
    overflow: hidden !important;
    position: relative;
}

.swiper-button-next,.swiper-button-prev{
    transition: all .2s;
}

.swiper-button-prev::after,.swiper-button-next::after{
    display: none;
}

.swiper-button-next:hover,.swiper-button-prev:hover{
    transform: scale(130%);
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -0.8rem !important;
    /* margin: 1.5rem; */
}

.swiper-button-next{
    right: -0.8rem !important;
    /* margin: 1.5rem; */
}

.swiper-horizontal > .swiper-pagination-bullets{
    bottom: -1rem !important;
}

/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -1rem !important;

} */

.swiper-pagination-bullet-active{
    background-color: var(--first-color) !important;
}


/* medium devices  */

@media screen and (min-width: 568px) {
    .portfolio__content{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .swiper-slide{
        display: flex;
    }

    /* enable if more than 1 skill category  */
    /* .skills__container{
        grid-template-columns: repeat(2, 1fr);
    } */
}

/* Large devices  */

@media screen and (min-width: 768px) {

    .portfolio__img{
        width: 450px;
    }

    .portfolio__content{
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .portfolio__content{
        /* display: flex; */
        padding-right: 2rem;
    }

    /* .portfolio__container{
        margin-inline: 2rem;
    } */


    .swiper-slide{
        padding: 0;
    }

    .swiper-portfolio-icon{
        font-size: 3rem !important;
    }

    .swiper-button-prev{ 
        position: absolute;
        left: 10% !important;
        margin-left: 1rem;
    }

    .swiper-button-next{
        position: absolute;
        right: 10% !important;
        padding-right: 3rem;
    } 

    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -4.5rem !important;
    }
}